<?xml  version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
>

	<context:component-scan base-package="io.zdp.wallet.desktop,io.zdp.client" />
	
	<beans:import resource="classpath:/wallet-api-spring-context.xml"/>

	<context:property-placeholder
		location="classpath:/io/zdp/wallet/desktop/app.properties"
		order="2"
		ignore-unresolvable="true" />

	<context:property-placeholder
		ignore-resource-not-found="true"
		ignore-unresolvable="true"
		order="1"
		location="file:/zdp/conf/api.properties" />

	<bean
		id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
	>
		<property name="basename">
			<value>io/zdp/wallet/desktop/i18n/messages</value>
		</property>
	</bean>

	<context:annotation-config />
	
	<beans:bean
		id="NetworkTopologyService"
		class="io.zdp.model.network.NetworkTopologyService"
		init-method="init" />	

	<task:annotation-driven
		executor="default-task-executor"
		scheduler="default-task-scheduler" />

	<task:executor
		id="default-task-executor"
		pool-size="8" />

	<task:scheduler
		id="default-task-scheduler"
		pool-size="8" />
		
	<task:scheduled-tasks>
		<task:scheduled
			ref="NetworkTopologyService"
			method="init"
			fixed-delay="60000" />
	</task:scheduled-tasks>		
		
</beans>